<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/public/js/model/User.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/system/UserDetailsView.js}"></script>
    <script type="text/javascript">
        var oUserDetailsView = new UserDetailsView();
    </script>
</head>

<body>
    <div layout:fragment="content">

        <div class="FORM box-form">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Tài khoản <span class="required">(*)</span></div>
                        <input type="text" class="form-control" id="account" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Mật khẩu <span class="required">(*)</span></div>
                        <input type="password" class="form-control" id="password" disabled>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Nhập lại mật khẩu <span class="required">(*)</span></div>
                        <input type="password" class="form-control" id="password" disabled>
                    </div>
                </div>

            </div>

        </div>

        <div class="ACTIONS box-action text-center">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave" disabled>
                <i class="fa fa-save"></i> Cập nhật mật khẩu
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnClose" disabled>
                <i class="fa fa-remove"></i> Đóng
            </button>
        </div>
    </div>
</body>

</html>