<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/popup">

<head>
    <meta charset="utf-8" />
    <script type="text/javascript" th:src="@{/public/js/model/User.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/system/UserDetailsView.js}"></script>
    <script type="text/javascript">
        var oUserDetailsView = new UserDetailsView();
    </script>
</head>

<body>
    <div layout:fragment="content">

        <div class="FORM box-form">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Tài khoản <span class="required">(*)</span></div>
                        <input type="text" class="form-control" id="account" disabled>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Mật khẩu <span class="required">(*)</span></div>
                        <input type="password" class="form-control" id="password" disabled>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Tên cán bộ <span class="required">(*)</span></div>
                        <input type="text" class="form-control" id="name" disabled>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Số điện thoại</div>
                        <input type="text" class="form-control" id="phone" disabled>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Email</div>
                        <input type="email" class="form-control" id="email" disabled>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Chức vụ</div>
                        <input type="text" class="form-control" id="position" disabled>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Ngày sinh</div>
                        <input type="date" class="form-control" id="dateOfBirth" disabled>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Phân quyền</div>
                        <select name="" id="role" class="form-control" disabled>
                            <option value="ADMIN">Quản trị hệ thống</option>
                            <option value="UNIT">Lãnh đạo</option>
                            <option value="USER">Cán bộ</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="form-group">
                        <div class="label-text">Trạng thái</div>
                        <select name="" id="status" class="form-control" disabled>
                            <option value="0">Khóa</option>
                            <option value="1">Hoạt động</option>
                        </select>
                    </div>
                </div>
               
            </div>

        </div>

        <div class="ACTIONS box-action text-center">
            <button type="button" class="btn btn-primary btn-sm" id="btnSave" disabled>
                <i class="fa fa-save"></i> Lưu
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnReset" disabled>
                <i class="fa fa-random"></i> Reset mật khẩu
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnRole" disabled>
                <i class="fa fa-users"></i> Phân quyền lại
            </button>
            <button type="button" class="btn btn-primary btn-sm" id="btnClose" disabled>
                <i class="fa fa-remove"></i> Đóng
            </button>
        </div>
    </div>
</body>

</html>