<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
	<meta charset="utf-8" />
	<title></title>
	<script type="text/javascript" th:src="@{/public/js/app/common/DashboardController.js}"></script>
	<script type="text/javascript">
		var oDashboardController = new DashboardController();
	</script>
</head>

<body>
	<div layout:fragment="content">
		<div class="main-content mscrollable">
			<div class="dashboard-statistics">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="box">
							<div class="detail">
								<span class="number" id="pTongLuotKham">34</span>
								<span class="txt">Tổng số văn bản trong hệ thống</span>
								<div class="status -down">
									<span class="icon -ap icon-arrow_downward"></span> 20
								</div>
							</div>
							<div class="dashboard-icon">
								<i class="fa fa-file-o"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="box">
							<div class="detail">
								<span class="number" id="pTongDangKham">23</span>
								<span class="txt">Tổng số văn bản đã tiếp nhận</span>
								<div class="status -up">
									<span class="icon -ap icon-arrow_upward"></span> 0.2%
								</div>
							</div>
							<div class="dashboard-icon">
								<i class="fa fa-share-square-o"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="box">
							<div class="detail">
								<span class="number" id="pTongChoThanhToan">13</span>
								<span class="txt">Tổng số văn bản đã chỉ định</span>
								<div class="status -down">
									<span class="icon -ap icon-arrow_downward"></span> 0.2%
								</div>
							</div>
							<div class="dashboard-icon">
								<i class="fa fa-pencil-square-o"></i>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
						<div class="box">
							<div class="detail">
								<span class="number" id="pTongHenKham">123</span>
								<span class="txt">Tổng số văn bản đã hoàn thành</span>
								
								<div class="status -down">
									<span class="icon -ap icon-arrow_downward"></span> 0.2%
								</div>
							</div>
							<div class="dashboard-icon">
								<i class="fa fa-support"></i>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="dashboard-chart">
				<div class="row">
					<div class="col-sm-6 col-xs-12">
						<div class="box">
							<div class="box-head">
								<div class="title">Thông báo quan trọng
									<i class="fa fa-plus pull-right"></i>
								</div>
								<div style="margin-top: 20px;font-size: 15px;color:red">
									<i>- Công việc quan trọng cần thực hiện</i>
									<i class="fa fa-trash pull-right"></i>
								</div>
								<div style="margin-top: 20px;font-size: 15px;color:red">
									<i>- Công việc quan trọng cần thực hiện</i>
									<i class="fa fa-trash pull-right"></i>
								</div>
								<div style="margin-top: 20px;font-size: 15px;color:red">
									<i>- Công việc quan trọng cần thực hiện</i>
									<i class="fa fa-trash pull-right"></i>
								</div>
								<div style="margin-top: 20px;font-size: 15px;color:red">
									<input type="text" class="form-control" disabled>
								</div>
								<div class="clearfix"></div>
							</div>

						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="box">
							<div class="box-head">
								<div class="pull-left title">Các văn bản cần thực hiện</div>
								<div class="clearfix"></div>

							</div>
							<div class="box-body">
								<table class="table" style="border: none">
									<thead>
									<tr>
										<th style="width:50px;text-align: center;">STT</th>
										<th>Số hiệu</th>
										<th>Cơ quan ra văn bản</th>
										<th>Ngày đến hạn</th>
										<th style="width:100px;text-align: center;"></th>
									</tr>
									</thead>

								</table>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>