<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/main">

<head>
    <meta charset="utf-8" />
    <title>Khai báo | Giám sát tiến độ thực hiện</title>
    <script type="text/javascript" th:src="@{/public/js/model/User.js}"></script>
    <script type="text/javascript" th:src="@{/public/js/app/document/ProcessView.js}"></script>
    <script type="text/javascript">
        var oProcessView = new ProcessView();
    </script>
    <style>
        tr > td > .row-actions {
           display:none;
        }

        tr.selected > td >  .row-actions {
            display:block !important;
        }
        .row-actions button{margin: 0 4px !important;}
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <a th:href="@{/app/common/dashboard}" class="url">OFFICE</a> > <a href="#">Quản lý văn bản</a> > <a
                        href="">Giám sát tiến độ thực hiện</a>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="box-form box">
                        <div class="box-body text-center">
                            <h4 class="form-title" id="AppTitle"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <div class="box" style="min-height:calc(100vh - 170px);">
                        <div class="box-body">
                            <div class="table-content" style="padding: 10px;">
                                <table class="table table-bordered" id="Grid01">
                                    <thead>
                                        <tr>
                                            <th style="width:50px;text-align: center;">STT</th>
                                            <th>Tên cán bộ</th>
                                            <th>Số điện thoại</th>
                                            <th>Email</th>
                                            <th>Ngày sinh</th>
                                            <th>Số văn bản quá hạn</th>
                                            <th>Số văn bản đang xử lý</th>
                                            <th>Chi tiết</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>